SERVER = <YOUR_AZURE_SERVER_NAME>
DATABASE = <YOUR_AZURE_DATABASE_NAME>
USERNAME_AZURE = <YOUR_AZURE_USERNAME>
PASSWORD = <YOUR_AZURE_PASSWORD>
ACCOUNT_STORAGE = <YOUR_AZURE_STORAGE_ACCOUNT_NAME>
AZURE_STORAGE_CONNECTION_STRING = <YOUR_AZURE_STORAGE_CONNECTION_STRING>
SQL_SCHEMA = <YOUR_DB_SCHEMA_NAME>
